.vt__ripple {
    pointer-events: none !important;
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $white;
    transform: translate(-50%, -50%) !important;
    border-radius: 50% !important;
    height: 55rem !important;
    width: 15rem !important;
    animation: vt__ripple-out 0.5s cubic-bezier(0.4, 0.2, 0.6, 1) forwards !important;
}

@keyframes vt__ripple-out {
    0% {
        opacity: 0;
        max-height: 0rem;
        max-width: 0rem;
    }
    50% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        max-height: 10rem;
        max-width: 10rem;
    }
}
